<div class="container-fluid"></div>
<div class="list-group">
    <a routerLink="" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <div class="d-flex justify-content-start">
                <img src="../../../assets/avatars/avatar-female-1.png" alt="avatar-female-1" width="100" height="100" class="border rounded-circle me-4">
                <div>
                    <p class="mb-1 fs-5"><strong>Maria Clara Santos</strong></p>
                    <p class="fs-6 mb-0">mariaclarasantos@gmail.com</p>
                    <p class="fs-6 mb-0">0905 044 6058</p>
                    <p class="fs-6 mb-0">Pulilan, Bulacan</p>
                </div>
            </div>
            <small>14-425621</small>
        </div>
    </a>
    <a routerLink="" class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <div class="d-flex justify-content-start">
                <img src="../../../assets/avatars/avatar-male-2.png" alt="avatar-male-2" width="100" height="100" class="border rounded-circle me-4">
                <div>
                    <p class="mb-1 fs-5"><strong>Carlo Dela Cruz</strong></p>
                    <p class="fs-6 mb-0">carlodelacruz@gmail.com</p>
                    <p class="fs-6 mb-0">0915 344 9012</p>
                    <p class="fs-6 mb-0">Balagtas, Bulacan</p>
                </div>
            </div>
            <small>15-846524</small>
        </div>
    </a>
  </div>