<div class="container mt-3">
    <div class="d-flex justify-content-md-between">
      <h1 class="display-4 fw-bold">Registration Form</h1>
      <p class="mt-4">Already have an account? <a class="fw-bold" routerLink="/">Sign In</a></p>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <h5 class="alert-heading">Warning!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <hr>
        <p class="mb-0"><strong>Any misrepresentation</strong> made in the <strong>Personal Data Field</strong> and the <strong>Work Experience Field</strong> 
            shall cause the filing of administrative/criminal case/s against the person concerned. </p>
    </div>
    <app-registration-forms></app-registration-forms>
</div>

   <div class="modal fade" id="terms-and-privacy-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="terms-and-privacy-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Privacy Policy</h5>
        </div>
        <div class="modal-body">
          All of the information that will be provided to this system will be strictly confidential and will be based on the data privacy act of 2012 (RA No.10173).        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Understood</button>
        </div>
      </div>
    </div>
  </div>