<div class="container">
    <h2>Guide to filling out the Personal Data Sheet</h2>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Warning!</h4>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <hr>
        <p class="mb-0"><strong>Any misrepresentation</strong> made in the <strong>Personal Data Sheet</strong> and the <strong>Work Experience</strong> Sheet
            shall cause the filing of administrative/criminal case/s against the person concerned. </p>
    </div>
    <app-registration-forms></app-registration-forms>
</div>

   <div class="modal fade" id="terms-and-privacy-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="terms-and-privacy-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Privacy Policy</h5>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, dolorem distinctio porro ullam tenetur laboriosam quasi sed corporis non. Magni error nostrum velit saepe accusamus sequi optio quos perspiciatis vero.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Understood</button>
        </div>
      </div>
    </div>
  </div>