<div class="row">
    <div class="col-4 d-print-none">
        <h4>List of Faculty</h4>
        <div class="list-group">
            <a class="list-group-item list-group-item-action d-block d-lg-flex justify-content-lg-between"
            [ngClass]="{'list-group-item-info': f.status === 'for approval'}"
             [routerLink]="f.employeeNo"
             routerLinkActive="active"
             *ngFor="let f of faculty">
                <div class="">
                    <div class="fw-bold fs-5">{{ (f.lastName + ', ' + f.firstName + ' ' + f.middleName) | titlecase }} {{ f.nameExtension}}
                    </div>
                    <div>{{ f.email }}</div>
                    <small><i class="far fa-hashtag"></i> {{ f.employeeNo }}</small>
                </div>
            </a>

        </div>
        <div class="spinner-border" role="status" *ngIf="isFetching">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="text-secondary" *ngIf="(faculty.length === 0) && !isFetching">-- No Result --</div>
    </div>
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>