<form (ngSubmit)="onSubmit()" #f="ngForm" class="needs-validation" novalidate
>
	<div class="accordion" id="forms">
		<div class="accordion-item">
			<h2 class="accordion-header" id="personal-information-heading">
				<button class="accordion-button" type="button" data-bs-toggle="collapse"
					data-bs-target="#personal-information-collapse" aria-expanded="true"
					aria-controls="personal-information-collapse">
					Personal Information
				</button>
			</h2>
			<div id="personal-information-collapse" class="accordion-collapse collapse"
				aria-labelledby="personal-information-heading">
				<div class="accordion-body">
					<app-form-personal-data></app-form-personal-data>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="educational-background-heading">
				<button class="accordion-button" type="button" data-bs-toggle="collapse"
					data-bs-target="#educational-background-collapse" aria-expanded="false"
					aria-controls="educational-background-collapse">
					Educational Background
				</button>
			</h2>
			<div id="educational-background-collapse" class="accordion-collapse collapse show"
				aria-labelledby="educational-background-heading">
				<div class="accordion-body">
					<app-form-educational-background></app-form-educational-background>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="civil-service-heading">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#civil-service-collapse" aria-expanded="false"
					aria-controls="civil-service-collapse">
					Civil Service
				</button>
			</h2>
			<div id="civil-service-collapse" class="accordion-collapse collapse"
				aria-labelledby="civil-service-heading">
				<div class="accordion-body">
					<app-form-civil-service></app-form-civil-service>
				</div>
			</div>
		</div>
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>