<form (ngSubmit)="register(f)" #f="ngForm">
	<div class="accordion" id="forms">
		<div class="accordion-item">
			<h2 class="accordion-header" id="personal-information-heading">
				<button class="accordion-button bg-light fs-5 text-dark fw-bold" type="button" data-bs-toggle="collapse"
					data-bs-target="#personal-information-collapse" aria-expanded="true"
					aria-controls="personal-information-collapse">
					Personal Information
				</button>
			</h2>
			<div id="personal-information-collapse" class="accordion-collapse collapse show"
				aria-labelledby="personal-information-heading">
				<div class="accordion-body">
					<div class="row row-cols-1 row-cols-md-4 gx-2">
						<div class="col">
							<div class="mb-3">
								<label for="firstName" class="form-label">*First Name</label>
								<input type="text" class="form-control" name="firstName" id="firstName" required
									ngModel>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label for="middleName" class="form-label">Middle Name</label>
								<input type="text" class="form-control" name="middleName" id="middleName"
									ngModel>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label for="lastName" class="form-label">*Last Name</label>
								<input type="text" class="form-control" name="lastName" id="lastName" required
									ngModel>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label for="nameExtension" class="form-label">
									Name Extension <i class="fal fa-info-circle" data-toggle="tooltip"
										data-placement="auto"
										title="(e.g. 'Sr.' and 'Jr.' and 'I', 'II', 'III', etc.)"></i>
								</label>
								<input type="text" class="form-control" name="nameExtension" id="nameExtension" ngModel>
							</div>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-md-3 gx-2">
						<div class="col">
							<div class="mb-3">
								<label for="birthDate" class="form-label">*Date of Birth</label>
								<input type="date" class="form-control" name="birthDate" id="birthDate" required
									ngModel>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label class="form-label">*Civil Status</label>
								<div>
									<select class="form-select text-capitalize" aria-label="Default select example"
										name="civilStatus" required ngModel>
										<option selected disabled>-- Select Civil Status -- </option>
										<option [value]="cs" *ngFor="let cs of civilStatus">{{ cs }}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label class="form-label">*Gender</label>
								<div>
									<div class="form-check form-check-inline" *ngFor="let g of gender">
										<input class="form-check-input" type="radio" name="gender" [id]="g" [value]="g"
											required ngModel>
										<label class="form-check-label text-capitalize" [for]="g">{{ g }}</label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row row-cols-1 row-cols-md-4 gx-2">
						<div class="col">
							<div class="mb-3">
								<label for="height" class="form-label">Height (m)</label>
								<input type="text" class="form-control" name="height" id="height" ngModel>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label for="weight" class="form-label">Weight (kg)</label>
								<input type="number" class="form-control" name="weight" id="weight" ngModel>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label for="bloodType" class="form-label">Blood Type</label>
								<input type="text" class="form-control" name="bloodType" id="bloodType" ngModel>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label for="citizenship" class="form-label">*Citizenship</label>
								<input type="text" class="form-control" name="citizenship" id="citizenship"
									ngModel required>
							</div>
						</div>
					</div>

					<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gx-2">
						<div class="col">
							<div class="mb-3">
								<label for="email" class="form-label">*Email Address</label>
								<input type="email" class="form-control" name="email" id="email" [(ngModel)]="emailAdd"
									required email>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label for="alternativeEmail" class="form-label">Alternative Email Address</label>
								<input type="email" class="form-control" name="alternativeEmail" id="alternativeEmail"
									ngModel email>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label for="mobileNumber" class="form-label">*Mobile Number</label>
								<input type="text" class="form-control" name="mobileNumber" id="mobileNumber"
									ngModel required>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label for="telephoneNumber" class="form-label">Telephone Number</label>
								<input type="text" class="form-control" name="telephoneNumber" id="telephoneNumber"
									ngModel>
							</div>
						</div>
					</div>
					<hr>
					<div ngModelGroup="residentAddress">
						<label class="form-label">Resident Address</label>
						<div class="row row-cols-1 row-cols-md-3 row gx-2">
							<div class="col">
								<div class="mb-3">
									<input type="text" class="form-control" name="residentHouseNo" id="residentHouseNo"
										placeholder="House/Block/Lot No." ngModel>
								</div>
							</div>
							<div class="col">
								<div class="mb-3">
									<input type="text" class="form-control" name="residentStreet" id="residentStreet"
										placeholder="Street" ngModel>
								</div>
							</div>
							<div class="col">
								<div class="mb-3">
									<input type="text" class="form-control" name="residentSubdivision"
										id="residentSubdivision" placeholder="Subdivision/Barangay" ngModel>
								</div>
							</div>
							<div class="col">
								<div class="mb-3">
									<select class="form-select" name="residentCityProvince" #cp="ngModel" ngModel
										required>
										<option hidden disabled selected value="">*Select City/Province</option>
										<option [value]="i" *ngFor="let x of cityProvince; let i = index">{{ x |
											titlecase }}</option>
									</select>
								</div>
							</div>
							<div class="col">
								<div class="mb-3">
									<select class="form-select" name="residentMunicipality" ngModel required>
										<option hidden disabled selected value="">*Select Municipality</option>
										<option [value]="x" *ngFor="let x of municipality[cp.value]">{{ x |
											titlecase}}</option>
									</select>
								</div>
							</div>
							<div class="col">
								<div class="mb-3">
									<input type="text" class="form-control" name="residentZipCode" id="residentZipCode"
										placeholder="Zip Code" ngModel>
								</div>
							</div>
						</div>
					</div>
					<div ngModelGroup="permanentAddress">
						<label class="form-label">Permanent Address</label>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="sameAsResident" name="sameAsResident"
								ngModel (change)="sameAsResident(f)">
							<label class="form-check-label" for="sameAsResident"><i>Same as Resident
									Address</i></label>
						</div>
						<div class="row row-cols-1 row-cols-md-3 row gx-2">
							<div class="col">
								<div class="mb-3">
									<input type="text" class="form-control" name="permanentHouseNo"
										id="permanentHouseNo" placeholder="House/Block/Lot No." ngModel
										>
								</div>
							</div>
							<div class="col">
								<div class="mb-3">
									<input type="text" class="form-control" name="permanentStreet" id="permanentStreet"
										placeholder="Street" ngModel >
								</div>
							</div>
							<div class="col">
								<div class="mb-3">
									<input type="text" class="form-control" name="permanentSubdivision"
										id="permanentSubdivision" placeholder="Subdivision/Barangay" ngModel
										>
								</div>
							</div>
							<div class="col">
								<div class="mb-3">
									<select class="form-select" name="permanentCityProvince" #pcp="ngModel" ngModel
										required >
										<option hidden disabled selected value="">*Select City/Province</option>
										<option [value]="i" *ngFor="let x of cityProvince; let i = index">{{ x |
											titlecase }}</option>
									</select>
								</div>
							</div>
							<div class="col">
								<div class="mb-3">
									<select class="form-select" name="permanentMunicipality" ngModel required
										>
										<option hidden disabled selected value="">*Select Municipality</option>
										<option [value]="x" *ngFor="let x of municipality[pcp.value]">{{ x |
											titlecase}}</option>
									</select>
								</div>
							</div>
							<div class="col">
								<div class="mb-3">
									<input type="number" class="form-control" name="permanentZipCode"
										id="permanentZipCode" placeholder="Zip Code" ngModel
										>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="row row-cols-1 row-cols-md-3 gx-2">
						<div class="col">
							<div class="mb-3">
								<label for="gsis" class="form-label">GSIS No.</label>
								<input type="text" class="form-control" name="gsis" id="gsis" ngModel>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label for="pagibig" class="form-label">PAG-IBIG ID No.</label>
								<input type="text" class="form-control" name="pagibig" id="pagibig" ngModel>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label for="philhealth" class="form-label">PHILHEALTH No.</label>
								<input type="text" class="form-control" name="philhealth" id="philhealth" ngModel>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label for="sss" class="form-label">SSS No.</label>
								<input type="text" class="form-control" name="sss" id="sss" ngModel>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label for="tin" class="form-label">TIN No.</label>
								<input type="text" class="form-control" name="tin" id="tin" ngModel>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label for="employeeNo" class="form-label">*Agency Employee No.</label>
								<input type="text" class="form-control" name="employeeNo" id="employeeNo"
									ngModel required>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="accordion-item">
			<h2 class="accordion-header" id="education-heading">
				<button class="accordion-button bg-light fs-5 text-dark fw-bold collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#education-collapse" aria-expanded="false"
					aria-controls="education-collapse">
					Educational Background
				</button>
			</h2>
			<div id="education-collapse" class="accordion-collapse collapse"
				aria-labelledby="education-heading">
				<div class="accordion-body" >
					<app-form-educational-background></app-form-educational-background>
				</div>
			</div>
		</div>
		
		<div class="accordion-item">
			<h2 class="accordion-header" id="civil-service-heading">
				<button class="accordion-button bg-light fs-5 text-dark fw-bold collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#civil-service-collapse" aria-expanded="false"
					aria-controls="civil-service-collapse">
					Civil Service
				</button>
			</h2>
			<div id="civil-service-collapse" class="accordion-collapse collapse"
				aria-labelledby="civil-service-heading">
				<div class="accordion-body">
					<app-form-civil-service></app-form-civil-service>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="work-experience-heading">
				<button class="accordion-button bg-light fs-5 text-dark fw-bold collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#work-experience-collapse" aria-expanded="false"
					aria-controls="work-experience-collapse">
					Work Experience
				</button>
			</h2>
			<div id="work-experience-collapse" class="accordion-collapse collapse"
				aria-labelledby="work-experience-heading">
				<div class="accordion-body">
					<app-form-work-experience></app-form-work-experience>
				</div>
			</div>
		</div>

		<div class="accordion-item">
			<h2 class="accordion-header" id="seminars-heading">
				<button class="accordion-button bg-light fs-5 text-dark fw-bold collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#seminars-collapse" aria-expanded="false"
					aria-controls="seminars-collapse">
					Learning and Development (L&D) Interventions/Training Programs Attended
				</button>
			</h2>
			<div id="seminars-collapse" class="accordion-collapse collapse"
				aria-labelledby="seminars-heading">
				<div class="accordion-body">
					<app-form-seminars></app-form-seminars>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="account-heading">
				<button class="accordion-button bg-light fs-5 text-dark fw-bold" type="button" data-bs-toggle="collapse"
					data-bs-target="#account-collapse" aria-expanded="false" aria-controls="account-collapse">
					Account
				</button>
			</h2>
			<div id="account-collapse" class="accordion-collapse collapse show" aria-labelledby="account-heading">
				<div class="accordion-body">
					<div class="row row-cols-1 row-cols-md-4 gx-2">
						<div class="col">
							<div class="mb-3">
								<label for="accountEmail" class="form-label">Email Address</label>
								<input type="email" class="form-control" name="accountEmail" id="accountEmail" disabled
									ngModel [value]="emailAdd">
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label for="password" class="form-label">Password</label>
								<input type="password" class="form-control" name="password" id="password" required
									ngModel>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label for="confirmPassword" class="form-label">Confirm Password</label>
								<input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
									required ngModel>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
	<div class="alert alert-danger mb-3" role="alert" *ngIf="!isValid">
		{{ errorMessage }}
	</div>
	<div class="d-flex justify-content-between my-3">
		<button type="submit" class="btn btn-primary btn-lg px-5 ">
			<span *ngIf="!onRegistration">Register</span>
			<div class="spinner-border spinner-border-sm" role="status" *ngIf="onRegistration">
				<span class="visually-hidden">Loading...</span>
			</div>
		</button>
		
	</div>
</form>