<div class="cont vh-100">
    <main class="form-signin text-center">
        <div class="row">
            <div class="col">
                <div class="mb-4">
                    <!-- <h1 class="fad fa-qrcode bi ms-2 display-3"></h1> -->
                    <img src="../../assets/logo.png" alt="" width="100" height="100">
                    <h1 class="h3 fw-normal">Faculty Management Information System</h1>
                </div>
                <h4>Admin</h4>
            </div>
            
            <div class="col">
                <form (ngSubmit)="userLogin(f)" #f="ngForm">
                    <h3 class="mb-3">Sign In</h3>
                    <div class="input-groups">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="username" name="username" placeholder="name@example.com"
                                ngModel required>
                            <label for="username">Username</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                                ngModel required>
                            <label for="password">Password</label>
                        </div>
                        <div class="bg-danger py-2 px-4 text-white fw-bold my-2" *ngIf="isIncorrect" role="alert">
                            Incorrect Username or Password!
                        </div>
        
                        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit" [disabled]="!f.valid">
                            <span *ngIf="!onSigninSpinner">Sign In</span>
                            <div class="spinner-border spinner-border-sm" role="status" *ngIf="onSigninSpinner">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
       
        
        <!-- <a class="btn btn-link text-decoration-none" routerLink="/registration">Register</a> -->
    </main>
</div>

=