    <div ngModelGroup="graduateStudies">
        <button type="button" class="btn btn-outline-secondary btn-group-sm" (click)="addEntry()"><i
            class="fal fa-plus-circle"></i> Add another Graduate Studies</button>
    <input type="hidden" name="ctr" [ngModel]="ctr">
    <div [ngModelGroup]="i+''" *ngFor="let x of entry; let i = index">
    <div class="row row-cols-1 row-cols-md-3 g-2">
        <div class="col">
            <div class="mb-3">
                <label for="graduateStudiesSchool" class="form-label">Name of School (write in full)
                    <i class="far fa-info-circle mx-2" data-toggle="tooltip" data-placement="right" data-bs-html="true"
                        title="Indicate FULL name of schools. <b>DO NOT ABBREVIATE</b>"></i>
                </label>
                <input type="text" class="form-control" name="school" ngModel>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label">Basic Education/Degree/Course (write in full)
                    <i class="far fa-info-circle mx-2" data-toggle="tooltip" data-placement="right" data-bs-html="true"
                        title="Indicate in FULL all courses taken in graduateStudies (e.g. ASSOCIATE IN ARTS, AB ECONOMICS, BS PSYCHOLOGY, MA IN HISTORY)."></i>
                </label>
                <input class="form-control" id="graduateStudiesBasicEducation"
                    name="basicEducation" ngModel>

            </div>
        </div>
        <div class="col">
            <label for="graduateStudiesAttendance" class="form-label">Period of Attendance</label>
            <div class="d-flex justify-content-around">
                <input type="date" class="form-control"
                    name="attendanceStart" placeholder="Start Year" ngModel>
                <label class="mx-3 pt-1">to</label>
                <input type="date" class="form-control"
                    name="attendanceEnd" placeholder="End Year" ngModel>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-2">
        <div class="col">
            <div class="mb-3">
                <label for="graduateStudiesHighestLevel" class="form-label">Highest Level/Units Earned (if not
                    graduated)</label>
                <input type="text" class="form-control" name="highestLevel"
                    id="graduateStudiesHighestLevel" ngModel>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="graduateStudiesYearGraduate" class="form-label">Year Graduated</label>
                <input type="number" class="form-control" name="yearGraduate"
                    id="graduateStudiesYearGraduate" min="1901" max="2022" placeholder="Year" ngModel>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="graduateStudiesScholarship" class="form-label">Scholarship/Academic Honors Received</label>
                <input type="text" class="form-control" name="scholarship"
                    id="graduateStudiesScholarship" ngModel>
            </div>
        </div>
    </div>
    <hr>
</div>
</div>