    <div [ngModelGroup]="'graduateStudies'+ctr">

    <div class="row row-cols-1 row-cols-md-3 g-2">
        <div class="col">
            <div class="mb-3">
                <label for="graduateStudiesSchool" class="form-label">Name of School (write in full)
                    <i class="far fa-info-circle mx-2" data-toggle="tooltip" data-placement="right" data-bs-html="true"
                        title="Indicate FULL name of schools. <b>DO NOT ABBREVIATE</b>"></i>
                </label>
                <input type="text" class="form-control" [name]="'graduateStudiesSchool'+ctr" ngModel>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label">Basic Education/Degree/Course (write in full)
                    <i class="far fa-info-circle mx-2" data-toggle="tooltip" data-placement="right" data-bs-html="true"
                        title="Indicate in FULL all courses taken in graduateStudies (e.g. ASSOCIATE IN ARTS, AB ECONOMICS, BS PSYCHOLOGY, MA IN HISTORY)."></i>
                </label>
                <input class="form-control" id="graduateStudiesBasicEducation"
                    [name]="'graduateStudiesBasicEducation'+ctr" ngModel>

            </div>
        </div>
        <div class="col">
            <label for="graduateStudiesAttendance" class="form-label">Period of Attendance</label>
            <div class="d-flex justify-content-around">
                <input type="number" class="form-control" min="1901" max="2022"
                    [name]="'graduateStudiesAttendanceStart'+ctr" placeholder="Start Year" ngModel>
                <label class="mx-3 pt-1">to</label>
                <input type="number" class="form-control" min="1901" max="2022"
                    [name]="'graduateStudiesAttendanceEnd'+ctr" placeholder="End Year" ngModel>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-2">
        <div class="col">
            <div class="mb-3">
                <label for="graduateStudiesHighestLevel" class="form-label">Highest Level/Units Earned (if not
                    graduated)</label>
                <input type="text" class="form-control" [name]="'graduateStudiesHighestLevel'+ctr"
                    id="graduateStudiesHighestLevel" ngModel>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="graduateStudiesYearGraduate" class="form-label">Year Graduated</label>
                <input type="number" class="form-control" [name]="'graduateStudiesYearGraduate'+ctr"
                    id="graduateStudiesYearGraduate" min="1901" max="2022" placeholder="Year" ngModel>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="graduateStudiesScholarship" class="form-label">Scholarship/Academic Honors Received</label>
                <input type="text" class="form-control" [name]="'graduateStudiesScholarship'+ctr"
                    id="graduateStudiesScholarship" ngModel>
            </div>
        </div>
    </div>
    <hr>
</div>