<!-- <div class="row row-cols-1 row-cols-md-4 gx-2">
    <div class="col">
        <div class="mb-3">
            <label for="firstname" class="form-label">*First Name</label>
            <input type="text" class="form-control" name="firstname" id="firstname" required ngModel>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label for="middlename" class="form-label">Middle Name</label>
            <input type="text" class="form-control" name="middlename" id="middlename" ngModel>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label for="lastname" class="form-label">*Last Name</label>
            <input type="text" class="form-control" name="lastname" id="lastname" required ngModel>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label for="nameExtension" class="form-label">
                Name Extension <i class="fal fa-info-circle" data-toggle="tooltip" data-placement="auto"
                    title="(e.g. 'Sr.' and 'Jr.' and 'I', 'II', 'III', etc.)"></i>
            </label>
            <input type="text" class="form-control" name="nameExtension" id="nameExtension" ngModel>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 gx-2">
    <div class="col">
        <div class="mb-3">
            <label for="birthDate" class="form-label">*Date of Birth</label>
            <input type="date" class="form-control" name="birthDate" id="birthDate" required ngModel>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label class="form-label">*Civil Status</label>
            <div>
                <select class="form-select text-capitalize" aria-label="Default select example" name="civilStatus"
                    required ngModel>
                    <option selected disabled>-- Select Civil Status -- </option>
                    <option [value]="cs" *ngFor="let cs of civilStatus">{{ cs }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label class="form-label">*Gender</label>
            <div>
                <div class="form-check form-check-inline" *ngFor="let g of gender">
                    <input class="form-check-input" type="radio" name="gender" [id]="g" [value]="g" required ngModel>
                    <label class="form-check-label text-capitalize" [for]="g">{{ g }}</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-4 gx-2">
    <div class="col">
        <div class="mb-3">
            <label for="height" class="form-label">Height (m)</label>
            <input type="text" class="form-control" name="height" id="height" ngModel>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label for="weight" class="form-label">Weight (kg)</label>
            <input type="number" class="form-control" name="weight" id="weight" ngModel>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label for="bloodType" class="form-label">Blood Type</label>
            <input type="text" class="form-control" name="bloodType" id="bloodType" ngModel>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label for="citizenship" class="form-label">*Citizenship</label>
            <input type="text" class="form-control" name="citizenship" id="citizenship" ngModel required>
        </div>
    </div>
</div>

<div ngModelGroup="contactInfo">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gx-2">
        <div class="col">
            <div class="mb-3">
                <label for="email" class="form-label">*Email Address</label>
                <input type="email" class="form-control" name="email" id="email" ngModel required email>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="altEmail" class="form-label">Alternative Email Address</label>
                <input type="email" class="form-control" name="altEmail" id="altEmail" ngModel email>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="mobileNumber" class="form-label">*Mobile Number</label>
                <input type="text" class="form-control" name="mobileNumber" id="mobileNumber" ngModel required>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="telephoneNumber" class="form-label">Telephone Number</label>
                <input type="text" class="form-control" name="telephoneNumber" id="telephoneNumber" ngModel>
            </div>
        </div>
    </div>
</div>
<hr>
<div ngModelGroup="address">
    <div ngModelGroup="resident">
        <label class="form-label">Resident Address</label>
        <div class="row row-cols-1 row-cols-md-3 row gx-2">
            <div class="col">
                <div class="mb-3">
                    <input type="text" class="form-control" name="residentHouseNo" id="residentHouseNo"
                        placeholder="House/Block/Lot No." ngModel>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <input type="text" class="form-control" name="residentStreet" id="residentStreet"
                        placeholder="Street" ngModel>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <input type="text" class="form-control" name="residentSubdivision" id="residentSubdivision"
                        placeholder="Subdivision/Village" ngModel>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <select class="form-select" name="residentCityProvince" #cp="ngModel"
                        (change)="resCitySelected=true" ngModel required>
                        <option hidden disabled selected value="">*Select City/Province</option>
                        <option [value]="i" *ngFor="let x of cityProvince; let i = index">{{ x | titlecase }}</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <select class="form-select" name="residentMunicipality" [disabled]="resCitySelected" ngModel
                        required>
                        <option hidden disabled selected value="">*Select Municipality</option>
                        <option [value]="x" *ngFor="let x of municipality[cp.value]">{{ x | titlecase}}</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <input type="text" class="form-control" name="residentZipCode" id="residentZipCode"
                        placeholder="Zip Code" ngModel>
                </div>
            </div>
        </div>
    </div>
    <div ngModelGroup="permanent">
        <label class="form-label">Permanent Address</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="sameAsResident" name="sameAsResident" ngModel
                (change)="sameAsResident()">
            <label class="form-check-label" for="sameAsResident"><i>Same as Resident Address</i></label>
        </div>
        <div class="row row-cols-1 row-cols-md-3 row gx-2">
            <div class="col">
                <div class="mb-3">
                    <input type="text" class="form-control" name="permanentHouseNo" id="permanentHouseNo"
                        placeholder="House/Block/Lot No." ngModel [disabled]="sameAsResidentFlag">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <input type="text" class="form-control" name="permanentStreet" id="permanentStreet"
                        placeholder="Street" ngModel [disabled]="sameAsResidentFlag">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <input type="text" class="form-control" name="permanentSubdivision" id="permanentSubdivision"
                        placeholder="Subdivision/Village" ngModel [disabled]="sameAsResidentFlag">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <select class="form-select" name="permanentCityProvince" #pcp="ngModel" ngModel required
                        [disabled]="sameAsResidentFlag">
                        <option hidden disabled selected value="">*Select City/Province</option>
                        <option [value]="i" *ngFor="let x of cityProvince; let i = index">{{ x | titlecase }}</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <select class="form-select" name="permanentMunicipality" ngModel required
                        [disabled]="sameAsResidentFlag">
                        <option hidden disabled selected value="">*Select Municipality</option>
                        <option [value]="x" *ngFor="let x of municipality[pcp.value]">{{ x | titlecase}}</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <input type="number" class="form-control" name="permanentZipCode" id="permanentZipCode"
                        placeholder="Zip Code" ngModel [disabled]="sameAsResidentFlag">
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row row-cols-1 row-cols-md-3 gx-2">
    <div class="col">
        <div class="mb-3">
            <label for="gsis" class="form-label">GSIS No.</label>
            <input type="text" class="form-control" name="gsis" id="gsis" ngModel>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label for="pagibig" class="form-label">PAG-IBIG ID No.</label>
            <input type="text" class="form-control" name="pagibig" id="pagibig" ngModel>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label for="philhealth" class="form-label">PHILHEALTH No.</label>
            <input type="text" class="form-control" name="philhealth" id="philhealth" ngModel>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label for="sss" class="form-label">SSS No.</label>
            <input type="text" class="form-control" name="sss" id="sss" ngModel>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label for="tin" class="form-label">TIN No.</label>
            <input type="text" class="form-control" name="tin" id="tin" ngModel>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label for="employee" class="form-label">*Agency Employee No.</label>
            <input type="text" class="form-control" name="employee" id="employee" ngModel required>
        </div>
    </div>
</div> -->