<div class="list-group">
    <a routerLink="" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1 fs-5 w-75"><strong>Admin</strong> approve Maria Clara Santos application</p>
          <small>Just now</small>
        </div>
      </a>
    <a routerLink="" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <p class="mb-1 fs-5 w-75"><strong>Maria Clara Santos</strong> registered to the system</p>
        <small>1 hour ago</small>
      </div>
      <p class="mb-1">Employee No: 14-425621</p>
    </a>
    <a routerLink="" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1 fs-5 w-75"><strong>Juan Dela Cruz</strong> update profile</p>
          <small>1 day ago</small>
        </div>
        <p class="mb-1">Employee No: 15-145875</p>
    </a>
    <a routerLink="" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1 fs-5 w-75"><strong>Lorem ipsum dolor</strong> Lorem ipsum dolor sit amet.</p>
          <small>1 day ago</small>
        </div>
        <p class="mb-1">Employee No: 15-321234</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">    
        <small class="text-muted">View more..</small>
    </a>
  </div>