<div class="d-flex justify-content-lg-end mb-3">
    <button class="btn btn-dark me-2"><i class="fal fa-edit"></i> Edit</button>
    <button class="btn btn-dark"><i class="fal fa-print"></i> Print</button>
</div>

<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex justify-content-start">
            <img src="../../../assets/avatars/avatar-male-2.png" alt="avatar-male-2" width="150" height="150" class="border rounded-circle me-5">
            <div>
                <p class="mb-1 fs-3"><strong>Carlo Dela Cruz</strong></p>
                <p class="fs-6 mb-0"><i class="fas fa-hashtag me-2"></i><strong>15-846524</strong></p>
                <p class="fs-6 mb-0 "><i class="fas fa-envelope me-2"></i><a href="mailto:carlodelacruz@gmail.com">carlodelacruz@gmail.com</a></p>
                <p class="fs-6 mb-0"><i class="fas fa-phone me-2"></i>0915 344 9012</p>
                <p class="fs-6 mb-0"><i class="fas fa-home me-2"></i>Balagtas, Bulacan</p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5 class="card-title">Personal Information</h5>
            <input type="checkbox" name="print" id="" class="form-check-input" data-toggle="tooltip" data-placement="auto" title="Include to print" checked>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table>
                    <tbody>
                        <tr><td>Date of Birth:</td><td>August 31, 1998</td></tr>
                        <tr><td>Age:</td><td>23 years old</td></tr>
                        <tr><td>Place of Birth:</td><td>Sta. Maria, Bulacan</td></tr>
                        <tr><td>Civil Status:</td><td>Single</td></tr>
                        <tr><td>Gender:</td><td>Male</td></tr>
                        <tr><td>Height:</td><td>5'6</td></tr>
                        <tr><td>Weight:</td><td>70 kls</td></tr>
                        <tr><td>Blood Type:</td><td>AB+</td></tr>
                        <tr><td>GSIS ID No.:</td><td>N/A</td></tr>
                        <tr><td>PAG-IBIG ID No.:</td><td>N/A</td></tr>
                        <tr><td>PHILHEALTH No.:</td><td>N/A</td></tr>
                        <tr><td>SSS No.:</td><td>N/A</td></tr>
                        <tr><td>TIN No.:</td><td>N/A</td></tr>
                        <tr><td>Citizenship:</td><td>Filipino</td></tr>
                        <tr><td>Telephone No.:</td><td>N/A</td></tr>
                        <tr><td>Alternate Email:</td><td>N/A</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table>
                    <tbody>
                        <tr><th>Resident Address</th></tr>
                        <tr><td>House/Block/Lot No.</td><td>A121</td></tr>
                        <tr><td>Street</td><td>Milagrosa St.</td></tr>
                        <tr><td>Subdivision</td><td></td></tr>
                        <tr><td>Barangay</td><td>Burol 10</td></tr>
                        <tr><td>City/Municipality</td><td>Balagtas</td></tr>
                        <tr><td>Province</td><td>Bulacan</td></tr>
                        <tr><td>Zip Code</td><td>3015</td></tr>
                        <tr><th>Permanent Address</th></tr>
                        <tr><td>House/Block/Lot No.</td><td>A121</td></tr>
                        <tr><td>Street</td><td>Milagrosa St.</td></tr>
                        <tr><td>Subdivision</td><td></td></tr>
                        <tr><td>Barangay</td><td>Burol 10</td></tr>
                        <tr><td>City/Municipality</td><td>Balagtas</td></tr>
                        <tr><td>Province</td><td>Bulacan</td></tr>
                        <tr><td>Zip Code</td><td>3015</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5 class="card-title">Educational Background</h5>
            <input type="checkbox" name="print" id="" class="form-check-input" data-toggle="tooltip" data-placement="auto" title="Include to print" checked>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-2">
                    <div class="fw-bold fs-6">Elementary</div>
                    <div>Montessori Academy of California</div>
                    <div>Year Graduated: 2010</div>
                    <div>Academic Honors: N/A</div>
                    <div>Scholarship: N/A</div>
                </div>
                <div class="mb-2">
                    <div class="fw-bold fs-6">Secondary</div>
                    <div>Montessori Academy of California</div>
                    <div>Year Graduated: 2014</div>
                    <div>Academic Honors: N/A</div>
                    <div>Scholarship: N/A</div>
                </div>
                <div class="mb-2">
                    <div class="fw-bold fs-6">Vocational/Trade Course</div>
                    <div>East Harvard</div>
                    <div>Year Graduated: 2016</div>
                    <div>Academic Honors: N/A</div>
                    <div>Scholarship: N/A</div>
                </div>
            </div>
            <div class="col">
                <div class="mb-2">
                    <div class="fw-bold fs-6">College</div>
                    <div>Bulacan State University</div>
                    <div>Bachelor of Science in Information Technology</div>
                    <div>Year Graduated: 2022</div>
                    <div>Academic Honors: N/A</div>
                    <div>Scholarship: N/A</div>
                </div>
                <div class="mb-2">
                    <div class="fw-bold fs-6">Graduate Studies</div>
                    <div>Bulacan State University</div>
                    <div>Bachelor of Science in Information Technology</div>
                    <div>Year Graduated: 2026</div>
                    <div>Academic Honors: N/A</div>
                    <div>Scholarship: N/A</div>
                </div>
            </div>
        </div>
    </div>
</div>